<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="college_student_management"
		 connectionString="Data Source=MC\MSSQLSERVER01;
		 Initial Catalog=college_student_management;
		 Integrated Security=True;
		 TrustServerCertificate=True;"
		 providerName="System.Data.SqlClient="/>
	</connectionStrings>
</configuration>